.container3{
    height: auto;
    width: calc(100%);
    background-color: rgb(255,255,255,0.2);
    border-radius: 15px;
    display: flex;
    position: relative;
    padding: 20px;
}

.description-content{
    width: 100%;
    text-align: justify;
    color: #fff;
    font-weight: 500;
}
.description-photo{
    padding-left: 15px;
    width: 100%;
}

.description-photo img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

.description-content1 p{
    margin: 10px 0 10px 0;
}