.container1{
    border-radius: 15px;
    width: calc(100%);
    height: auto;
    background-color: rgb( 255,255, 255, 0.5);
}

.profile-container{
    padding: 20px;
}

.profile-container .profile-picture{
    border: 1px solid #fff;
    border-radius: 50%;
    padding:10px;
    max-width: 1200px;
}

.profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* PERSONAL CONTACT */
.social-media {
    padding: 5px 0 5px 0;
    display: flex; 
}
    .social-icon2{
        padding: 0 20px 0 20px;
    }


/* PERSONAL INFORMATION */
.personal-detail{
    line-height: 25px;
    margin-top: 50px;
    font-weight: 600;
    color: #fff;
}
    .personal-detail .name span{
        font-weight: bold;
    }

/* SKILLS */
.knowledge1, .knowledge2, .knowledge3, .knowledge4, .knowledge5, .knowledge6, .knowledge7, .knowledge8{
    border: 2px solid rgb(255,255,255);
    border-radius: 10px;
    padding: 0 5px 0 5px;
}

.knowledge1 a,.knowledge2 a, .knowledge3 a, .knowledge4 a, .knowledge5 a, .knowledge6 a, .knowledge7 a, .knowledge8 a{
    color: #fff;
}