@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body{
    padding: 10px 10px 10px 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr auto;
    grid-template-areas:
    "container1 container2 container2 container2"
    "container1 container3 container3 container3"
    "container1 container4 container4 container4";
}
.container1{
    grid-area: container1;
}
.container2{
    grid-area: container2;
}
.container3{
    grid-area: container3;
}
.container4{
    grid-area: container4;
}

@media (max-width: 950px) {
    body{
        margin: 10px 10px 10px 10px;
        animation: bg 12s ease infinite;
        /* background-size: cover; */
        background-position: center;
        /* background-attachment: fixed; */
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "container2"
        "container1"
        "container3"
        "container4"
        ;
        gap:10px;
    }
    .container1{
        grid-area: container1;
        font-size: 10px !important;
    }
        .profile-picture{
        }
        .knowledge1 a,.knowledge2 a, .knowledge3 a, .knowledge4 a, .knowledge5 a, .knowledge6 a, .knowledge7 a, .knowledge8 a{
            color: #fff;
        }
    .container2{
        top: 0px;
        position: sticky;
        background-color: rgb(228, 214, 214) !important;
        grid-area: container2;
        color: black !important;
    }   
        /* CONTAINER 2 ANIMATION */
        .typing-text span{
            position: relative;
            color: rgb(210,118,177) !important;
        }
        .container2 H2{
            display: none;
        }
    .container3{
        display: none !important;
        grid-area: container3;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas:
        "description-content"
        "description-photo";
    }
    .description-content{
        grid-area: description-content;
    }
    .description-photo{
        grid-area: description-photo;
    }
    .container4{
        grid-area: container4;
    }    
}

