<div class="other-commitment-container">
    <div class="other-commitment-numbers">
        <p class="other-commitment-numbers-p-1">1</p>
        <p class="other-commitment-numbers-p">2</p>
        <p class="other-commitment-numbers-p">3</p>
        <p class="other-commitment-numbers-p">4</p>
        <p class="other-commitment-numbers-p">5</p>
        <p class="other-commitment-numbers-p">6</p>
        <p class="other-commitment-numbers-p">7</p>
    </div>
    <div class="other-commitment-description">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="101">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="104">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="107">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="110">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="113">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="116">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="119">
    </div>
    <div class="other-commitment-amount">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-1" placeholder="Enter Amount" tabindex="102" onblur="newtotalothercommitment();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-2" placeholder="Enter Amount" tabindex="105" onblur="newtotalothercommitment();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-3" placeholder="Enter Amount" tabindex="108" onblur="newtotalothercommitment();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-4" placeholder="Enter Amount" tabindex="111" onblur="newtotalothercommitment();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-5" placeholder="Enter Amount" tabindex="114" onblur="newtotalothercommitment();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-6" placeholder="Enter Amount" tabindex="117" onblur="newtotalothercommitment();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-7" placeholder="Enter Amount" tabindex="120" onblur="newtotalothercommitment();">
    </div>
    <div class="other-commitment-decimal">
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-1"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-2"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-3"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-4"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-5"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-6"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-7"></p>
    </div>

    <div class="net-other-commitment-analysis">
        <div class="net-other-commitment-total">Net Commitment</div>
        <div class="net-other-commitment-total-amount">0.00</div>
    </div>
</div>