<div class="other-income-title">
    <p class ="other-income-no">1</p>
    <p class ="other-income-no">2</p>
    <p class ="other-income-no">3</p>
    <p class ="other-income-no">4</p>
    <p class ="other-income-no">5</p>
    <p class ="other-income-no">6</p>
    <p class ="other-income-no">7</p>
</div>
<div class="other-income-description">
    <input type="text" class="other-income-description-general" id="" placeholder="Enter Description" tabindex="80">
    <input type="text" class="other-income-description-general" id="" placeholder="Enter Description" tabindex="83">
    <input type="text" class="other-income-description-general" id="" placeholder="Enter Description" tabindex="86">
    <input type="text" class="other-income-description-general" id="" placeholder="Enter Description" tabindex="89">
    <input type="text" class="other-income-description-general" id="" placeholder="Enter Description" tabindex="92">
    <input type="text" class="other-income-description-general" id="" placeholder="Enter Description" tabindex="95">
    <input type="text" class="other-income-description-general" id="" placeholder="Enter Description" tabindex="98">
</div>
<div class="other-income-amount">
    <input type="text" class="other-income-amount-general other-income-1" id="other-income-1" placeholder="Enter Amount" tabindex="81" onblur="newnetotherincome()">
    <input type="text" class="other-income-amount-general other-income-2" id="other-income-2" placeholder="Enter Amount" tabindex="84" onblur="newnetotherincome()">
    <input type="text" class="other-income-amount-general other-income-3" id="other-income-3" placeholder="Enter Amount" tabindex="87" onblur="newnetotherincome()">
    <input type="text" class="other-income-amount-general other-income-4" id="other-income-4" placeholder="Enter Amount" tabindex="90" onblur="newnetotherincome()">
    <input type="text" class="other-income-amount-general other-income-5" id="other-income-5" placeholder="Enter Amount" tabindex="93" onblur="newnetotherincome()">
    <input type="text" class="other-income-amount-general other-income-6" id="other-income-6" placeholder="Enter Amount" tabindex="96" onblur="newnetotherincome()">
    <input type="text" class="other-income-amount-general other-income-7" id="other-income-7" placeholder="Enter Amount" tabindex="99" onblur="newnetotherincome()">
</div>
<div class="other-income-factor">
    <p class="other-income-factor-general other-income-factor-1" id="other-income-factor-1"></p>
    <p class="other-income-factor-general other-income-factor-2" id="other-income-factor-2"></p>
    <p class="other-income-factor-general other-income-factor-3" id="other-income-factor-3"></p>
    <p class="other-income-factor-general other-income-factor-4" id="other-income-factor-4"></p>
    <p class="other-income-factor-general other-income-factor-5" id="other-income-factor-5"></p>
    <p class="other-income-factor-general other-income-factor-6" id="other-income-factor-6"></p>
    <p class="other-income-factor-general other-income-factor-7" id="other-income-factor-7"></p>
</div>
<div class="net-other-income-analysis">
    <div class="net-income-total-income-detail">Net Income
        <!-- <div>0.00</div> -->
    </div>
    <div class="net-income-total-income">0.00</div>
</div>