<div class=" bonus-year">
    <p><%= lastYear%></p>
    <p><%= last2Year%></p>
</div>
<div class="bonus-input"> Total Bonus income
    <input type="text" class="bonus-amount" id="bonus12" placeholder="Enter Amount" tabindex="78" onblur="bonusincome2();">
    <input type="text" class="bonus-amount" id="bonus22" placeholder="Enter Amount" tabindex="79" onblur="bonusincome2();">
</div>
<div class="bonus-income-analysis">Net Bonus Inc
    <div class="bonus-income-analysis-result-first bonus-income-analysis-result bonus-analysis-year1-12">0.00</div>
    <div class="bonus-income-analysis-result bonus-analysis-year2-12">0.00</div>
</div>
<div class="bonus-analysis-container"> 
    <div class="bonus-wholely-analysis"> Analysis
        <div class="variable-income-variance">Variable Income Variance</div>
        <div class="total-month-submit-for-variable-income">Total month submit (V.income)</div>
        <div class="number-of-year">Year submit for bonus income</div>
        <div class="bonus-income-variance">Variance for bonus income </div>
    </div>
    <div class="bonus-wholely-analysis-result">Result
        <div class="variable-income-variance-result2">0.00</div>
        <div class="total-month-submit-for-variable-income-result2">0.00</div>
        <div class="number-of-year-result2">0.00</div>
        <div class="bonus-income-variance-result2">0.00</div>
    </div>     
</div>