<div class="other-commitment-container2">
    <div class="other-commitment-numbers">
        <p class="other-commitment-numbers-p-1">1</p>
        <p class="other-commitment-numbers-p">2</p>
        <p class="other-commitment-numbers-p">3</p>
        <p class="other-commitment-numbers-p">4</p>
        <p class="other-commitment-numbers-p">5</p>
        <p class="other-commitment-numbers-p">6</p>
        <p class="other-commitment-numbers-p">7</p>
    </div>
    <div class="other-commitment-description2">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="101">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="104">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="107">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="110">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="113">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="116">
        <input type="text" class="other-commitment-description-general" placeholder="Enter Description" tabindex="119">
    </div>
    <div class="other-commitment-amount2">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-12" placeholder="Enter Amount" tabindex="102" onblur="newtotalothercommitment2();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-22" placeholder="Enter Amount" tabindex="105" onblur="newtotalothercommitment2();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-32" placeholder="Enter Amount" tabindex="108" onblur="newtotalothercommitment2();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-42" placeholder="Enter Amount" tabindex="111" onblur="newtotalothercommitment2();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-52" placeholder="Enter Amount" tabindex="114" onblur="newtotalothercommitment2();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-62" placeholder="Enter Amount" tabindex="117" onblur="newtotalothercommitment2();">
        <input type="text" class="other-commitment-amount-general" id="other-commitment-72" placeholder="Enter Amount" tabindex="120" onblur="newtotalothercommitment2();">
    </div>
    <div class="other-commitment-decimal2">
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-12"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-22"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-32"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-42"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-52"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-62"></p>
        <p class="other-commitment-decimal-general" id="other-commitment-decimal-72"></p>
    </div>
    <div class="net-other-commitment-analysis2">
        <div class="net-other-commitment-total">Net Commitment</div>
        <div class="net-other-commitment-total-amount2">0.00</div>
    </div>
</div>